@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
{
    margin: 0;
    padding: 0;
}

#header {
    background-image: url(https://images.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
}

#logo {
    float: left;
    font-size: 260%;
    margin-left: 40px;
    margin-top: 30px;
    text-align: left;
    color: yellow;
}

/*--Nav--*/

.navbar-nav li a {
    float: right;
    color: yellow;

    
}

.navbar-toggler {
    border: none;
    outline: none;
}

nav {
    color: yellowgreen;
    font-size: 26px;
}

/*--Running for a Cause--*/

.running {
    padding: 50px;
    margin-top: -100px;
    background-color: transparent;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 100px;

}

.running h1 {
    color: blue;
}

.heart {
    padding-left: 50%;
    margin-top: -300px;
    margin-bottom: unset;
    margin-right: 100px;
    margin-left: 10px;

}

.heart ul {
    display: inline;
    text-align: center;
}

/*--Photo--*/

#photo {
    column-count: 2;
    clear: both;
    column-gap: 0;
    line-height: 0;
}

#photo img {
    width: 100%;
}

/*--Contact--*/

body {
    background: #55ffe5;
    font-size: 14px;
}

.container {
    width: 80%;
    margin:50px auto
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 35px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}